.container {
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.card-welcome {
    position: relative;
    text-align: center;
    color: white;
}

.card-welcome-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-mouse-click {
    position: absolute;
    bottom: 24px;
    left: 50%;
}

.card-services {
    position: relative;
    text-align: center;
    color: white;
}

.card-services-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}