    .container {
        border: 2px solid white;
        padding: 20px;
        margin: 20px;
        background-color: white;
    }
    
    p {
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    .card-welcome {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .card-welcome-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .card-mouse-click {
        position: absolute;
        bottom: 24px;
        left: 50%;
    }
    
    .card-services {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .card-services-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .whatwedo {
        position: relative;
        padding: 100px;
    }
    
    .icon-design {
        position: absolute;
        top: 20%;
        left: 0%;
    }
    
    .icon-development {
        position: absolute;
        top: 20%;
        left: 50%;
    }
    
    .icon-product {
        position: absolute;
        top: 50%;
        right: 0%;
    }
    
    .column {
        float: right;
        width: 20%;
        padding: 5px;
    }
    /* Clear floats after image containers */
    /* .row-portfolio::after {
        content: "";
        clear: both;
        display: table;
    } */
    
    .card-contact {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .card-contact-body {
        position: absolute;
    }
    
    #design-toggle {
        display: none;
    }
    
    #development-toggle {
        display: none;
    }
    
    #product-toggle {
        display: none;
    }
    
    .card-contact {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .card-contact-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
    }