    .container {
        border: 2px solid white;
        padding: 20px;
        margin: 20px;
        background-color: white;
    }
    
    p {
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    .card-welcome {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .card-welcome-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .card-mouse-click {
        position: absolute;
        bottom: 24px;
        left: 50%;
    }
    
    .card-services {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .card-services-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .whatwedo {
        position: relative;
        padding: 100px;
    }
    
    .icon-design {
        position: absolute;
        top: 20%;
        left: 0%;
    }
    
    .icon-development {
        position: absolute;
        top: 20%;
        left: 45%;
    }
    
    .icon-product {
        position: absolute;
        top: 50%;
        left: 90%;
    }
    
    .p1 {
        display: none;
    }
    
    .portfolio {
        align-content: center;
        align-items: center;
        align-self: center;
        padding: 20px;
    }
    
    #design-toggle {
        display: none;
    }
    
    #development-toggle {
        display: none;
    }
    
    #product-toggle {
        display: none;
    }
    
    .card-contact {
        position: relative;
        text-align: center;
        color: white;
        margin: 5px;
    }
    
    .card-contact-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 10px;
    }
    
    #btn,
    #contact-message,
    #name,
    #email {
        background: transparent;
        border: 1px solid white;
        color: white;
    }
    
     ::placeholder {
        color: white;
    }
    
    .social-icons {
        display: inline;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }